<table class="table table-striped">
  <thead>
    <tr>
      <th width="span2">Brand</th>
      <th width="span3">Model</th>
      <th width="span3">Asset Tag</th>
      <th width="span3">Serial Number</th>
      <th width="span1">Status</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'components/component', collection: component_list %>
  </tbody>
</table>
