<h1>Kits</h1>

<%= paginate @kits %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @kits.each do |kit| %>
      <tr>
        <td><%= kit.name %></td>
        <td>
          <%= link_to 'Reserve', '#', :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @kits %>

