<!DOCTYPE html>
<html>
<head>
  <title>Checkout</title>
  <%= stylesheet_link_tag    "checkout/application", :media => "all" %>
  <%= javascript_include_tag "checkout/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
