@import "jquery.ui.datepicker";
@import "jquery.ui.autocomplete";
@import "select2";
@import "bootstrap_and_overrides";

.help-block {
  font-style:italic;
  color: #999;
}
.qrcode {
  border:1px solid rgba(0,0,0,0.5);
}
a.danger {
  color:#F33;
}
td.action-buttons,
th.status {
  width: 1%;
}
i.user-disabled {
  color: red;
}
i.user-suspended {
  color: orange;
}
