@import "jquery.ui.datepicker";
@import "jquery.ui.autocomplete";
@import "select2";
@import "bootstrap_and_overrides";

.help-block {
  font-style:italic;
  color: #999;
}
.qrcode {
  border:1px solid rgba(0,0,0,0.5);
}
a.disabled {
  color: #aaa;
  cursor:default;
}
a.danger {
  color:#F33;
}
td.action-buttons,
th.skinny-column {
  width: 1%;
}
i.user-disabled {
  color: red;
}
i.user-suspended {
  color: orange;
}

 // use this for forms that are table-ized, like the nested users on the group form
.table-form {
  div.controls {
    margin-left:0;
  }
}
.table-form.control-group {
  margin:0;
}

// fix for bootstrap/select2 conflict when rendering autocomplete results
// td.item-info,
// .table-striped tbody tr:nth-child(odd) td.item-info,
// .table-striped tbody tr:nth-child(even) td.item-info {
//   background-color: transparent;
//   padding: 1px;
//   line-height: 11px;
//   text-align: left;
//   vertical-align: middle;
//   border-top: 0;
// }

// tabular forms (like in the groups form)
div.records {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;

  div.fields {
    display: table-row;
    border-bottom: 1px solid #ddd;
  }

  div.field {
    display: table-cell;
    padding: 8px;
    line-height:20px;
    vertical-align: middle;
  }

  div.field-headers {
    div.field-header {
      display: table-cell;
      font-weight: bold;
      vertical-align: bottom;
    }
  }
}
div.records div.fields:nth-child(even) div.field {
  background-color:#F9F9F9
}
#memberships-add-user,
#permissions-add-kit
{
  display: block;
  padding: 8px;
  margin-top:0.5em;
}

// select2 widgets in the groups form
.select-user,
.select-kit {
  width: 100%;
}