@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";
@import "jquery.ui.datepicker";
@import "jquery.ui.autocomplete";
@import "select2";
@import "bootstrap_overrides";

form#omnibox {
  @extend .span12;
  white-space: nowrap;
  input#q {
    @extend .span12;
  }
  // input#k {
  //   @extend .span3;
  // }
}

table.form-table {
  @extend .table;
  // @extend .table-striped;
}
table.table {
  @extend .table;
  @extend .table-striped;
}
table.form-table,
table.table {
  td {
    vertical-align:middle;
  }
  th.actions {
    width: 1%;
  }
  .mini-action-buttons {
    text-align:right;
  }
}
.help-block {
  font-style:italic;
  color: #999;
}
.qrcode {
  border:1px solid rgba(0,0,0,0.5);
}
a.disabled {
  color: #aaa;
  cursor:default;
}
a.danger {
  color:#F33;
}
td.action-buttons {
  padding-left:0;
}
td.mini-action-buttons {
  white-space: nowrap;
}
.my_button_to {
  display: inline;
}
a.delete-link {
  @extend .btn;
  @extend .btn-danger;
}

i.user-disabled {
  color: red;
}
i.user-suspended {
  color: orange;
}

//  // use this for forms that are table-ized, like the nested users on the group form
// .table-form {
//   div.controls {
//     margin-left:0;
//   }
// }
// .table-form.control-group {
//   margin:0;
// }

// div.control-group.hidden {
//   display:none;
// }
// datepicker-related styles
.return-date-ok a {
  border-color: green !important;
}
.return-date-warn a {
  border-color: orange !important;
}
.truncate {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
td.ui-datepicker-current-day {
  background-color: green;
}

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}
// bootstrap styling for the autocomplete menu
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-focus, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}
