<%= simple_form_for @brand.model, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', brands_path, :class => 'btn' %>
  </div>
<% end %>
