<% title t('page_titles.show.location') %>
<% subtitle location.name %>

<dl class="dl-horizontal">
  <dt><%= t('labels.location.business_hours') %></dt>
  <dd><%= location.hours %></dd>
</p>

<div class="form-actions">
  <%= link_to 'Back', locations_path, :class => 'btn'  %>
  <%= auth_link([:edit, location]) %>
</div>
